Leopotam.EcsProto*
Leopotam.EcsProto.QoL*
PerformanceTestRun*
/.utmp
*_DoNotShip/
*_BackUpThisFolder_ButDontShipItWithYourGame/
/[Uu]ser[Ss]ettings/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.idea/
/.gradle/
/Logs/
/.vs/
_TerrainAutoUpgrade*

build_BackUpThisFolder_ButDontShipItWithYourGame
build_BurstDebugInformation_DoNotShip

/*.csproj
/*.sln
*.suo
*.user
*.DotSettings
*.apk